.editor_wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 0.9rem;
}

.editor_editable {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0.5rem;
  row-gap: 0.05rem;
}

.editor_readonly {
  position: relative;
  padding: 0.5rem;
  width: 50%;

  .ͼ1 .cm-foldGutter span {
    padding: 0 0.5rem;
  }
}
