.user_icons_wrapper {
  display: inline-flex;
  column-gap: 0.5rem;
  justify-content: space-between;

  .user_icon_signout {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    background-image: url('../../assets/img/sign-out-alt-2-svgrepo-com.svg');
    background-size: 100%;
  }
}