.about {
  padding: 20px 20px;

  p {
    line-height: 1.2;
    color: $welcome-color;
    text-align: justify;
  }
  h2 {
    color: $secondary-color-dim;
    font-size: 1.5em;
    text-align: center;
  }
  section {
    padding: 1rem;
  }

  @media (max-width: $mobile) {
    font-size: 0.6em;
    padding: 0.7rem;
  }

  @media (min-width: $mobile) and (max-width: $tablet) {
    font-size: 0.7em;
    section {
      padding: 0.7rem;
    }
  }

  @media (min-width: $fhd) {
    font-size: 1em;
    padding: 1.1rem;
  }
}
