* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: $font;
  font-size: $font-size-regular;
}

body {
  height: 100%;
  color: $font-color;
  background-color: $body-background;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

section {
  padding: 1.5rem;
}

footer {
  background-color: $body-background;
  color: #fff;
  padding: 1.5rem 0;
}

a {
  text-decoration: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  color: $font-color;
  font-family: inherit;
  background-color: $secondary-color-dim;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

::-webkit-scrollbar {
  width: 0.25em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  transition: background-color 1s ease;
}

:hover::-webkit-scrollbar-thumb {
  background-color: gray;
  cursor: pointer;
}
