$font: 'Roboto Slab', serif;

$primary-color: #161e26;
$additional-color: #2e3445;
$secondary-color: #e535ab;

$font-color: #c5cad5;
$secondary-font-color: #959db1;

$tablet: 768px;
$fhd: 1280px;
$mobile: 500px;