$font: 'Roboto Slab', serif;
$font-size-regular: 20px;

$font-color: #c5cad5;
$secondary-font-color: #959db1;

$primary-color: #161e26;
$secondary-color: #e535ab;
$secondary-color-hovered: #3e0231;
$secondary-color-dim: #a32c89;
$additional-color: #2e3445;
$header-color: #2d457e;
$error-warning: #ff0000;
$editor-color: #15191efa;
$aside-color: #20242d;
$body-background: #242424;
$welcome-color:#dfcdd3;

$indicator-fetching: #d2c72c;
$indicator-error: #d13030;
$indicator-ok: #3cb142fa;

$tablet: 768px;
$fhd: 1280px;
$mobile: 500px;