.nav_link {
  text-decoration: none;
  color: $font-color;
  user-select: none;

  transition: all 0.3s ease;

  @include media-hover('color', $secondary-font-color);
  @include media-fs($fs-semi, $fs-small)
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo_link {
  display: inline-block;
  background: no-repeat url('../../assets/img/GraphQLLogo.svg');
  background-size: 100%;
  background-position: 50% 50%;
  width: 6em;
  height: 1.65em;

  vertical-align: middle;
  @include media-wh(4.5em, 1.3em, 4.2em, 1.15em)
}
