.nav_link {
  text-decoration: none;
  color: $font-color;
  user-select: none;

  transition: all 0.3s ease;
  &:hover {
    color: $secondary-font-color;
  }
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo_link {
  display: inline-block;
  background: no-repeat url('../../assets/img/GraphQLLogo.svg');
  background-size: 100%;
  width: 6rem;
  height: 1.65rem;
}
