.panel {
  display: flex;
  flex-direction: column;

  background-color: $editor-color;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  order: -1;

  .endpoint_container {
    position: relative;

    display: inline-flex;
    align-items: center;

    justify-content: flex-end;
    column-gap: 0.5rem;

    text-align: center;
    .endpoint_input {
      width: 50%;
      padding: 0 0.3rem 0;
      outline: none;
      border: none;
      align-self: stretch;
      border-bottom: 1px solid $additional-color;
      background: $additional-color;
      color: $font-color;
      min-width: max-content;

      border-radius: 10px;
      &:focus {
        background-color: $header-color;
      }
    }

    .switch_label {
      border-bottom: 4px solid transparent;
    }
    .switch_btn {
      padding: 0.2em;
    }
  }

  .indicator {
    position: relative;
    display: inline-block;
    border-radius: 50%;

    width: 14px;
    height: 14px;

    box-shadow: inset 1px -2px 5px 3px rgba($color: #262121, $alpha: 0.5), 
                0 0 5px 2px rgba($color: #655e5e, $alpha: 0.5);
    &.indicator_ok {
      background-color: $indicator-ok;
    }
    &.indicator_error {
      background-color: $indicator-error;
    }
    .indicator_tooltip {
      position: absolute;
      white-space: nowrap;
      position: absolute;
      font-size: 0.8em;
      opacity: 0.8;
      left: 100%;
      top: 100%;
      z-index: 10;
      border-radius: 10px;
      padding: 0.2rem;
      background-color: $header-color;
    }
    &.fetching {
      background-color: $indicator-fetching;
    }
  }
  .panel_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0.7em;
  }

  .panel_form {
    display: flex;
    align-items: center;
  }
}

.buttons {
  display: flex;
  align-items: center;
  column-gap: 1em;
  .editor_btn {
    padding: 1rem;
    cursor: pointer;
    justify-self: flex-end;
    transition: filter 0.3s ease;
    border: none;

    &.request_btn {
      background: no-repeat url('../../assets/img/send-1-svgrepo-com.svg');
      background-size: 100% 100%;
    }

    &.clean_up_btn {
      background: no-repeat url('../../assets/img/clean-svgrepo-com.svg');
      background-size: 100% 100%;
    }

    &:hover {
      filter: hue-rotate(-75deg);
    }
  }
}
.fetching {
  animation: pulse 2.5s infinite;
}

.info_container {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  width: 25%;
  color: $secondary-font-color;

  .current_endpoint {
    overflow: hidden;
    background-color: $body-background;
    padding: 0.2em 1em;
    border-radius: 10px;
    font-size: 0.8em;

    &:hover {
      overflow: visible;
    }
  }

}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}