.header {
  background-color: $header-color;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3em;
  min-height: 2em;
  position: sticky;

  align-items: center;
  line-height: 0.8em;
  vertical-align: middle;
  top: 0;

  transition: all 0.3s ease-in-out;

  z-index: 1000;

  &.header_animated {
    height: 2.5em;
    background-color: $additional-color;
  }
}
