.not_found_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  * {
    padding-bottom: 1rem;
  }
}
.title {
  font-size: 2em;
}

.description {
  font-size: 3em;
}

.home {
  padding: 1em;
  font-size: 2em;
  background-color: $primary-color;
  color: $font-color;

  transition: all 0.3s ease;
  &:hover {
    background-color: $secondary-color-hovered;
    color: $secondary-font-color;
  }
}
