.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 1000px;
    user-select: none;
    // grid-gap: 10px;

    .course_wrapper {
      max-width: 10%;

      img {
        width: 3.5rem;
      }
    }

    .github_wrapper {
      display: flex;
      gap: 2rem;

      a {
        transition: all 0.3s ease;
        color: #fff;
        // text-decoration: none;
        font-size: 14px;

        &:hover {
          text-decoration: underline;
          color: $secondary-font-color;
        }
      }
    }


    .year_wrapper {
      font-size: 0.9rem;
    }
}
