.footer_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 1000px;
  user-select: none;

  .course_wrapper {
    max-width: 10%;

    img {
      width: 3.5rem;
    }
  }

  .github_wrapper {
    display: flex;
    gap: 2rem;

    a {
      transition: all 0.3s ease;
      color: #fff;

      &:hover {
        text-decoration: underline;
        color: $secondary-font-color;
      }
    }
  }
}
